/*import google fonts*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900);

/*body css*/
body{
    padding-top:27px;
	overflow-x:hidden;
}
/*navbar css*/
.short-logo{
    display:none;
}
.short-logo-display{
    display:block;

}
.navbar-collapse{
	overflow-x:hidden;
}
.short-logo-display img{
    top: -15px;
}
.left-logo-none{
    display:none;
}
.navbar{
    background-color: #151515;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}
.navbar-brand img{
    z-index: 100;
    position: relative;
}
.navbar-wrapper{
    /*max-width:1104px;*/
	 padding: 0 10%;
}
.left-logo{
    padding:0px;
}

.navbar-collapse{
    padding: 0.85% 0% !important;
}

.navbar-collapse-scroll{
    padding: 0% !important;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-shrink{
    padding:0.9% 0;
}
/*css for banner*/
.wrapper{
    background: url("../../assets/images/banner.png") no-repeat scroll center center;
    height: 100%;
    margin:0px;
    padding: 0px;
    height:500px;
    position: fixed;
}
.wrapper-inside{
    padding-top: 130px;
}
.wrraper-first-p{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 40px;
}

.color{
    color:#ffd204;
    line-height: 23px;
}
.fonts{
    font-size:18px;
    font-weight:400;
    padding-top:25px;
    line-height:20px
}
.padding-management{
    padding-top:0px;
}
.button-wrapper{
    text-align: center;
    padding-top: 27px;

}

.button-wrapper img:nth-child(1){
    margin-right:10px;
}
.button-wrapper img:nth-child(2){
    margin-left:10px;
}

/* carausel third wrapper*/
.carousel-caption {
    text-align: right;
}
.carousel-indicators{
    left: 68%;
    bottom: -6px;
    text-align:right;
}

.second-text{
    font-size: 30px;
    margin-bottom: 15px;
}

.third-wrapper{
    padding-top:30px;
}
.wrap-overflow{
    overflow: hidden;
}
.wrap-overflow .scale-image:hover{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    overflow: hidden;
}
.wrap-overflow .scale-image{
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    overflow: hidden;
}
.third-wrapper-container-fluid{
    background-color: #eeeded;
    
    z-index: 1000;
    
    width: 100%;
    padding-bottom: 30px;
}
/*fourth section*/
.fourth-wrapper-container-fluid{
    background-color: #141414;
   
    width: 100%;
}
.updates{
    background: url("../../assets/images/updates.png") no-repeat scroll center center;
    height: 340px;
    background-size: 95% 100%;

}
.fourth-wrapper{
    padding-top:30px;
}
.inner-content{
    padding:30px 25px;
}

.tweet-handle{
    color:#fff;
    font-size:20px;
    font-weight:bold;
    padding-top: 30px;
}

.tweet-text{
    font-size:13px;
    color:#fff;
}

/*footer start here*/
.footer-text{
    text-align:center;
    margin: 0px;
    padding: 0.9% 0%;
    color: #6e6e6e;
    font-weight: bold;
}

.footer{
    background-color: #fff;
    padding: 0px;
    margin: 0px -15px;
}

/*twitter widget*/
#twitter-widget-0{
    margin: 0 auto !important;
    display: block !important;
}

/*jury page code*/
.jury-wrapper{
    background: #eeeded;
    height: 100%;
    margin:0px;
    padding: 0px;
}
.jury-wrapper-inside{
    padding-top: 130px;
}
.jury-wrapper .bg-image:nth-child(1){
    background: url("../../assets/images/ishita.png") no-repeat scroll center center;
    height:282px;
}
.jury-wrapper .bg-image:nth-child(2){
    background: url("../../assets/images/midival-punditz.png") no-repeat scroll center center;
    height:282px;
    margin-top:10px;
}
.jury-wrapper .bg-image:nth-child(3){
    background: url("../../assets/images/tushar.png") no-repeat scroll center center;
    height:282px;
    margin-top:10px;
}
.jury-wrapper .bg-image:nth-child(4){
    background: url("../../assets/images/arjun.png") no-repeat scroll center center;
    height:282px;
    margin-top:10px;
}

.jury-inside-text{
    padding: 45px 105px;
    color:#fff;
}
.jury-inside-text p{
    font-size: 48px;
    font-weight: bold;
    margin-bottom:0px;
}
.jury-inside-text b{
    font-size: 18px;
}
.jury-inside-text img{
    margin-top: 15px;
}

/*jury page bg video*/
.bg-video{
    height: 282px;
    margin-top: 10px;
    padding: 45px 105px;
    /*display:none;*/
}
video{
    width:100%;
    height:100%;
}

/*login page*/
.login-wrapper{
    background: url("../../assets/images/login-bg.png") no-repeat scroll center center;
    height: 100%;
    margin:0px;
    padding: 0px;
    height:636px;
    width: 100%;
}
.login-center{
    max-width: 520px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    padding-top:35px;
    padding-bottom: 25px;
}
.login-center p{
    text-align:center;
}

.login-center p:nth-child(1){
    margin-bottom: 20px;
}
.login-center p:nth-child(2){
    margin-bottom: 15px;
}
.login-center p:nth-child(3){
    margin-bottom: 30px;
}
.login-center p:nth-child(4){
    margin-bottom: 30px;
}
.participate-text{
    text-align:center;
    padding: 95px 0 25px 0;
}
..login-wrapper input{
    padding-left: 5px;
    width: 378px;
    height: 34px;
}

/*image upload code ends here*/

/*Image wrapper*/

.image-wrapper{
    margin:0px;
    padding: 0px;
    height:100%;
    background:#efeeee;
}
.image-wrapper-inside{
    text-align: center;
    padding-top:140px;
}
.image-wrapper-inside hr{
    border-bottom:1px solid #000;
    max-width: 930px;
    width: 100%;
}
.image-wrapper-inside p:nth-child(3) textarea{
    margin:20px 0 0 0;
    max-width: 522px;
    max-height: 33px;
    width: 100%;
    height: 100%;
}
.image-wrapper-inside p:nth-child(3) label{
    display: block;
    /*margin-left: 390px;*/
    font-weight: 100;
}
.image-wrapper-inside p:nth-child(4) label{
    display: block;
    /*margin-left: 390px;*/
    font-weight: 100;
}
.image-wrapper-inside p:nth-child(4) textarea{
    margin:20px 0 0 0;
    max-width: 522px;
    max-height: 90px;
    width: 100%;
    height: 90px;
}
.image-wrapper-inside p:nth-child(5){
    margin-top: 35px;
    font-size: 18px;
}
input[type=file] {
    display: inline-block;
    width: 200px;
}
.image-wrapper-inside p:nth-child(6) img{
    margin-right: 30px;
}
.image-wrapper-inside p:nth-child(6) input[type='url']{
    max-width: 415px;
    max-height: 35px;
    width:100%;
    height:35px;
}
.form-body{
    max-width: 930px;
    margin: 0 auto;
}
.img-upload span{
    display: block;
    padding: 10px 0; 
}
.video-link{
	max-width:418px;
    max-height:35px;
    width:100%;
    height:100%;
}
.condition-label{
    font-weight:100;
}

.submit{
    background: url("../../assets/images/submit.png") no-repeat scroll center center;
    width: 100px;
    border: 1px solid transparent;
    padding: 40px 0;
}
/*image upload code ends here*/
/*Media query*/


/* for menu*/
@media (max-width: 768px) {
    .navbar-collapse {
        text-align: center;
    }
}
@media (max-width: 1200px) {
    .fourth-wrapper-container-fluid {
        top: 878px;
    }
}
/* for twitter widget*/
@media (max-width: 992px) {
    .twitter-widget,.grand-prize {
        padding-top: 30px;
    }
    
}


/* prize Page starts here */
.prize-main-container{
    padding: 0;
    background: #eeeded;
    padding-bottom: 25px;
}
.prize-header{
    background: url("../../assets/images/prize-banner.jpg") no-repeat scroll center center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    height: 500px;
}
.prize-container{

    max-width: 980px;
    margin: 0 auto;
    color: #2e2e2e;
}
.prize-copy h1{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
.prize-copy p{
    font-weight:600;
    font-size: 16px; 
    margin:0;
}
.prize-copy a{
    padding: 13px 0;
    display: block;
}
.remove-margin{
    margin: 0;
}
.padding-4{
    padding: 4px;
}
@media (max-width: 1024px) {
    .prize-copy{
        text-align: center;
    }
    .prize-copy h1{      
        font-size: 24px;   
    }
    .prize-copy p{
        font-size: 14px; 
    }
    .prize-container img{
        display: block;
        margin: 0 auto;
    }
}
/* prize Page Ends here */


/* Thankyou Page Starts here */
.thankyou-header{
    background: url("../../assets/images/thankyou-bg.jpg") no-repeat scroll center center;
    width:100%;
    height: 667px;
    margin: 0px;
    padding: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.thankyou-copy{
    padding-top: 140px;
    text-align: center;
    max-width: 670px;
    margin:  0 auto;
}
.thankyou-copy h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    color: #fcdb05;
}
.thankyou-copy p{
    font-size: 18px;
    color: #fff;
}
.thankyou-copy div{
    padding: 15px 0;
}
.thankyou-copy span{
    padding: 5px 10px;
}
/* Thankyou Page Ends here */

.ch-limit{
	max-width: 522px;
    text-align: right;
    margin: 0 auto;
}
/*main second wrapper*/
.main-second-wrapper{
    position: absolute;
    width: 100%;
    top: 529px;
}